@import url("colors.css");
@import url("grid.css");
@import url("form.css");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-size: 16px;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

.BarraLateral {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-left: 10px;

  width: 300px;
  height: 100vh;
  background: rgb(64, 5, 227);
  background: linear-gradient(
    90deg,
    rgba(64, 5, 227, 1) 0%,
    rgba(111, 0, 255, 1) 100%
  );
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  box-shadow: 2px 2px 3px 2px rgb(221, 221, 221);
  padding-top: 10px;

  display: grid;
  grid-template-rows: 13% 20%;
  transition: 0.5s;
}

.BarraLateral.close {
  width: 150px;
}

.BarraLateral .iconClose {
  cursor: pointer;
  position: absolute;
  top: 7.5%;
  right: -18px;
  transform: translateY(-50%) rotate(180deg);
  height: 23px;
  width: 23px;
  padding: 8px;
  background-color: #ff6600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease;
}

.BarraLateral.close .iconClose {
  transform: translateY(-50%);
}

.BarraLateral .logo {
  width: 95%;
  height: 70px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.BarraLateral.close .logo {
  height: 75px;
}

.BarraLateral.close .logo {
  width: 80%;
}

.BarraLateral .show {
  color: white;
  margin-top: 15px;
}

.BarraLateral.close .show {
  display: none;
}

.BarraLateral .hidden {
  display: none;
  color: white;
}

.BarraLateral.close .hidden {
  display: grid;
  color: white;
}

.contPrincipal {
  position: relative;
  height: 100vh;
  left: 269px;
  width: calc(99% - 250px);
  background-color: #f8f5f3;

  transition: 0.5s ease;
}

.contPrincipal .cardHello {
  position: relative;
  top: 111px;
  left: 100px;
  width: 65%;
  height: 300px;
  background: rgb(224, 223, 225);
  background: radial-gradient(
    circle,
    rgba(224, 223, 225, 1) 0%,
    rgba(231, 231, 231, 1) 100%
  );
  border-radius: 25px;
  box-shadow: 2px 2px 11px -3px rgba(133, 133, 133, 0.53);

  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: center;
  align-items: center;
}

.contPrincipal .cardHello .imgSection {
  width: 78%;
  height: auto;
  position: relative;
  top: -50px;
}

.contPrincipal .cardHello h1 {
  font-size: 45px;
  color: rgb(34, 34, 34);
  padding: 35px;
}

.BarraLateral.close ~ .contPrincipal {
  left: 120px;
  width: calc(98.3% - 88px);
}

.contPrincipal .contgrid {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(1, 200px);
}

.BarraLateral h1 {
  margin-top: 20%;
  text-align: center;
}

.BarraLateral #menu {
  display: grid;
  grid-template-rows: repeat(2, 680px);
}

.BarraLateral nav ul {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(4, 50px);
  grid-gap: 10px;
  margin-left: -20px;
}

.BarraLateral ul li {
  list-style: none;
}

.BarraLateral ul li a {
  border-radius: 25px;
  display: flex;
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.5s;
}

.BarraLateral.close ul li a {
  border-radius: 15px;
}

.BarraLateral ul li a i {
  font-size: 18px;
}

.BarraLateral #menu .logout nav ul li {
  border-top: 2px solid white;
  padding-top: 10px;
}

.BarraLateral ul li a:hover {
  background-color: #ff6600;
  color: white;
}

.WWList table {
  width: 100%;
  margin: 0px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

.WWList table thead {
  background-color: #888;
}

.WWList table thead th,
.WWList table tbody td {
  padding: 0.35em 0.5em;
  margin: 0px;
  border: 0px;
}

.WWList table tbody tr:nth-child(2n) {
  background-color: #c4c4c4;
}

footer {
  position: relative;
  height: 150px;
  left: 269px;
  width: calc(99% - 250px);
  background: rgb(231, 231, 231);
  padding: 50px;
  text-align: center;
}

footer h1 {
  font-size: 18px;
  color: gray;
  text-transform: uppercase;
}

footer hr {
  width: 25%;
  border: none;
  height: 2px;
  background-color: gray;
}

.BarraLateral.close ~ footer {
  left: 130px;
  width: calc(98.4% - 100px);
}

/*
--sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
*/

.depth-0 {
  box-shadow: 0px 0px 3px var(--primary_bg);
}
.depth-1 {
  box-shadow: 1px 1px 3px var(--primary_bg);
}
.depth-2 {
  box-shadow: 3px 3px 5px var(--primary_bg);
}
.depth-3 {
  box-shadow: 3px 3px 7px var(--primary_bg);
}

.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.py-1 {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.py-2 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.error {
  font-size: 0.9rem;
  color: var(--alert);
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
  main {
    min-height: calc(100vh - 102px);
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536) {
}

/* layout.view.tpl */

/* layout.view.tpl */
